<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
</head>
<body>

<h1>Admin panel</h1>

Logged as <p sec:authentication="name"/>

<td> <a th:href="@{/logout}">Logout</a></td>

<td> <a th:href="@{/admin/inventory/add}">Add new Item</a></td>

<td> <a th:href="@{/inventory/list}">Show item list</a></td>

<td><a th:href="@{/admin/users/list}">Show users list</a></td>

</body>
</html>

















