<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inventory list</title>
</head>
<body>
<td> <a th:href="@{/inventory/add}">Add new Item</a></td>

<table>
    <thead>
    <tr>
        <th>Item</th>
        <th>Owner</th>
        <th>Place</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="inventory : ${inventory}">
        <td th:text="${inventory.item}"/>
        <td th:text="${inventory.owner}"/>
        <td th:text="${inventory.place}"/>
        <td> <a th:href="@{/inventory/{invNumb}/(invNumb=${inventory.invNumb})}">Details</a></td>
        <td> <a th:href="@{/inventory/edit/{invNumb}/(invNumb=${inventory.invNumb})}">Edit</a></td>
        <td> <a th:href="@{/inventory/delete/{invNumb}/(invNumb=${inventory.invNumb})}">Delete</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>